body {
  top: 0;
  .simple-keyboard {
    z-index: 99999999999;
    position: absolute;
    bottom: 0;
    display: none;
    &.hg-theme-default {
      .hg-button {
        height: 80px !important;
        font-size: 42px;
        color: #333;
        &.hg-activeButton {
          background: #bababa;
        }
      }
    }
  }
  &.show-keyboard {
    //top: -345px;
    .simple-keyboard {
      display: block;
    }
    .modal {
      //top: -345px;
    }
  }
}
