/**
 * Premium mode
 */

// premium.start.php
.premium-start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #9daf7f;
  width: 100%;
  height: 100%;

  .premium-logo {
    width: 70rem;
  }
  .premium-heading {
    font-size: 4rem;
    color: #fff;
  }
  .premium-button-start {
    width: 20rem;
    height: 7rem;
    background-color: #f2e4db;
    border-radius: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    cursor: pointer;
  }

  .premium-button-start-text {
    color: #9daf7f;
    font-size: 4rem;
    font-weight: 700;
  }
}

.premium {
  background-color: #c8c8c8;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  // background: var(--premium-background);/
  color: var(--premium-color);
  display: flex;
  flex-direction: column;
  z-index: 100;

  &-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
    background: var(--premium-bar-background);
    color: var(--premium-bar-color);
  }

  &-body {
    padding: 2rem;
    flex-grow: 1;
    overflow-y: scroll;
  }

  &-title {
    flex-grow: 1;
    h1 {
      margin: 0;
    }
  }
}

/**
 *Overlay
 **/
.premium-mode--overlay {
  .premium {
    translate: -100% 0;
    transition: translate 0.3s ease-in-out;
    &-body {
      overflow: hidden;
      height: 0;
      width: 0;
      flex-grow: 0;
      padding: 0;
    }

    &.premium--open {
      translate: 0 0;

      .premium-body {
        overflow-y: scroll;
        height: auto;
        width: auto;
        flex-grow: 1;
      }
    }
  }
}

.heading {
  color: black;
  font-size: 2em;
}

// collage.scss
#collage-options {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.premium-collage-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

.four-collage-button {
  left: 25rem;
  position: absolute;
  bottom: 6rem;
  width: 10rem;
  height: 4rem;
  border-radius: 1.5rem;
  border: none;
  font-size: 2rem;
  padding: 10px 20px;
  color: #f2e4db;
  background-color: #9daf7f;
  cursor: pointer;

  &:hover {
    background-color: #ddd;
  }
}

.six-collage-button {
  right: 32rem;
  position: absolute;
  bottom: 6rem;
  width: 10rem;
  height: 4rem;
  font-size: 2rem;
  border-radius: 1.5rem;
  border: none;
  padding: 10px 20px;
  color: #f2e4db;
  background-color: #9daf7f;
  cursor: pointer;

  &:hover {
    background-color: #ddd;
  }
}

#next-button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  border: none;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  opacity: 0.5;
  pointer-events: none;

  &:hover {
    background-color: #333;
  }

  &:not([disabled]) {
    opacity: 1;
    pointer-events: auto;
  }
}

// quantity.scss
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}
.premium-quantity-img {
  position: absolute;
  background-color: #f2e4db;
}

.quantity-screen-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .quantity-heading {
    font-size: 4em;
    color: black;
    font-weight: 700;
  }
  .quantity-box-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .quantity-selector {
      display: flex;
      justify-content: center;
      align-items: center;

      .quantity {
        width: 20rem;
        height: 20rem;
        border: 2px solid #9daf7f;
        border-radius: 2rem;
        display: flex;

        justify-content: center;
        align-items: center;
        .quantity-value {
          font-size: 7rem;
          font-weight: 700;
        }
      }
      // circle green
      .change-value {
        width: 6rem;
        height: 6rem;
        margin: 0rem 5rem;
        border-radius: 50%;
        background-color: #9daf7f;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 4em;
        color: #fff;
        cursor: pointer;
      }
    }
    .price {
      font-size: 2rem;
      border: 2px solid #9daf7f;
      width: 20rem;
      border-radius: 2rem;
    }
  }
}

.quantity-selector {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
  padding: 20px;
}

.quantity-selector button {
  padding: 15px 30px;
  font-size: 1.5em;
}

.quantity {
  font-size: 2em;
  color: black;
}

.price {
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
  color: black;
}

.next-button {
  width: 10rem;
  height: 4rem;
  background-color: #9daf7f;
  color: #f2e4db;
  border: none;
  font-size: 2rem;
  border-radius: 1.5rem;
  cursor: pointer;
}

// shooting.scss
.shooting-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
  padding: 20px;
  border: 2px solid #000;
}

.image-container {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  gap: 5px;
}

.select-image {
  width: 150px;
  height: 150px;
}

.collage-container-1x4 {
  border: 1px solid #ccc;
  padding: 10px;
  display: grid;
  gap: 5px;
  grid-template-columns: 140px;
  grid-template-rows: repeat(4, 100px);
  justify-content: center;
  background-color: black;
}

.collage-container-2x3 {
  border: 1px solid #ccc;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(2, 160px);
  grid-template-rows: repeat(3, 100px);
  gap: 5px;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.collage-container-1x4 .placeholder-1x4 {
  border: 1px solid gray;
}
.collage-container-1x4 img {
  max-width: 140px;
  max-height: 100px;
}

.collage-container-2x3 .placeholder-2x3 {
  border: 1px solid gray;
  max-width: 155px;
  max-height: 150px;
}

.collage-container-2x3 img {
  max-width: 150px;
  max-height: 150px;
  border: 1px solid white;
  background-color: white;
}

.selected {
  filter: grayscale(100%);
}
